@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
}

html {
	@apply bg-gray-blue-100;
	@apply text-md;
	@apply text-gray-700;
	font-family: trade-gothic-next, sans-serif;
}

body {
	margin: 0;
}

button {
	text-align: left;
}

input[type="checkbox"]:focus + label > div:first-child div:first-child div {
	outline: 5px auto Highlight;
	outline: 5px auto -webkit-focus-ring-color;
}

.text-primary {
	color: #393B3D;
}
.text-secondary {
	color: #72746D;
}
.text-light {
	color: #A5ACB2;
}

.bg-default {
	color: #F7FAFB;
}
.bg-paper {
	color: #FFFFFF;
}
.bg-dark {
	color: #1A212A;
}

/*UTILS*/

@layer base {
	.type-heading-1 {
		/*@apply text-xl;*/
		font-size: 17px;
		line-height: 23px;
		@apply font-bold;
		color: #363A3E;
		letter-spacing: 0.02em;
	}
	.type-heading-2 {
		/*@apply text-md;*/
		font-size: 14px;
		line-height: 20px;
		@apply font-bold;
		color: #47494A;
		letter-spacing: 0.02em;
	}
	.type-heading-3 {
		/*@apply text-sm;*/
		font-size: 12px;
		line-height: 16px;
		@apply font-bold;
		text-transform: uppercase;
		color: #47494A;
		letter-spacing: 0.02em;
	}

	.type-body {
		font-size: 12px;
		line-height: 18px;
		color: #393B3D;
		letter-spacing: 0.02em;
	}
	.type-label {
		font-size: 12px;
		line-height: 16px;
		color: #72746D;
		letter-spacing: 0.02em;
	}
	.type-sm-label {
		font-size: 10px;
		line-height: 12px;
		color: #72746D;
		letter-spacing: 0.02em;
	}
	.type-button-label {
		font-size: 12px;
		line-height: 16px;
		color: #444743;
		letter-spacing: 0.02em;
	}

	.button {
		@apply px-5;
		@apply py-3;
		@apply border;
		@apply rounded-md;
		@apply type-button-label;
		/*white-space: nowrap;*/
		color: #444743;
		line-height: 1em;
	}
	table button {
		background-color: #E6F0F3;
	}
	table td {
		color: #72746D;
	}
	table td.font-bold {
		color: #444743;
	}
	.button-active {
		@apply bg-gray-blue-200;
		@apply border-accent-blue;
		@apply text-dark-blue;
		position: relative;
		z-index: 2;
	}
	.button-info {
		@apply w-3.5;
		@apply h-3.5;
		@apply rounded-full;
		@apply border;
		@apply border-gray-400;
		display: inline-flex;
		position: relative;
		text-align: center;
	}
	.button-info::before {
		content: "?";
		@apply text-xxs;
		line-height: 1;
		margin: auto;
		transform: scale(.8);
	}
}
/*MUI OVERRIDES*/

.MuiTouchRipple-root {
	display: none !important;
}

.MuiInputBase-input {
	font-size: 12px !important;
	line-height: 16px !important;
	padding: 0 !important;
}

.MuiOutlinedInput-root {
	@apply px-5;
	@apply py-3;
	color: #444743 !important;
	@apply type-button-label;
}

.MuiOutlinedInput-notchedOutline {
	@apply border;
	@apply rounded-md;
}